<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<form method="post" action="/index/">
    {% csrf_token %}
    <table border="2" align="center">
        <caption>Login Details</caption>
        <tr>
            <td>
                Username<input type="text" placeholder="username" name="username" required>
            </td>
        </tr>
        <tr>
            <td>
                Password<input type="password" placeholder="password" name="password" required>
            </td>
        </tr>
        <tr>
            <td>
                Type
                <select name="type">
                   <option>Admin</option>
                   <option>Employee</option>
                   <option>Customer</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                <button type="submit">Login</button>
            </th>
        </tr>
    </table>
</form>
<!--<form method="post" action="/index/">
    {% csrf_token %}
    <table border="2" align="center">
        <caption>Login Details</caption>
        <tr>
            <td>
                Username<input type="text" placeholder="username" name="username" required><br><br>
                Password<input type="password" placeholder="password" name="password" required><br><br>
                Type
                <select name="type">
                   <option>Admin</option>
                   <option>Employee</option>
                   <option>Customer</option>
                </select><br><br>
                <button type="submit">Login</button>
            </td>
        </tr>
    </table>
</form>-->
</body>
</html>